<launch>
  <arg name="model_path" default="$(find object_tracking)/models/micro_g_dgm_v1.pkl"/>
  <arg name="plan_service" default="/micro_g_dgm/get_motion_plan"/>
  <arg name="ik_service" default="/compute_ik"/>
  <arg name="fk_service" default="/compute_fk"/>
  <arg name="group_name" default="panda_arm"/>
  <arg name="ee_link" default="panda_hand"/>
  <arg name="world_frame" default="world"/>
  <arg name="object_topic" default="/object/state"/>
  <arg name="base_odom_topic" default="/base/odom"/>
  <arg name="base_odom_max_age_s" default="0.50"/>
  <arg name="tf_timeout" default="0.20"/>
  <arg name="T" default="2.0"/>
  <arg name="dt" default="0.02"/>
  <arg name="reach_min" default="0.20"/>
  <arg name="reach_max" default="0.75"/>
  <arg name="reach_margin" default="0.02"/>
  <arg name="hard_reachability_checks" default="true"/>
  <arg name="service_wait_timeout" default="30.0"/>

  <node pkg="object_tracking"
        type="micro_g_dgm_planner_node.py"
        name="micro_g_dgm_planner_node"
        output="screen"
        required="true">
    <param name="service_name" value="$(arg plan_service)"/>
    <param name="fk_service" value="$(arg fk_service)"/>
    <param name="group_name" value="$(arg group_name)"/>
    <param name="ee_link" value="$(arg ee_link)"/>
    <param name="world_frame" value="$(arg world_frame)"/>
    <param name="object_topic" value="$(arg object_topic)"/>
    <param name="base_odom_topic" value="$(arg base_odom_topic)"/>
    <param name="base_odom_max_age_s" value="$(arg base_odom_max_age_s)"/>
    <param name="tf_timeout" value="$(arg tf_timeout)"/>
    <param name="model_path" value="$(arg model_path)"/>
    <param name="T" value="$(arg T)"/>
    <param name="dt" value="$(arg dt)"/>
    <param name="reach_min" value="$(arg reach_min)"/>
    <param name="reach_max" value="$(arg reach_max)"/>
    <param name="reach_margin" value="$(arg reach_margin)"/>
    <param name="hard_reachability_checks" value="$(arg hard_reachability_checks)"/>
    <param name="service_wait_timeout" value="$(arg service_wait_timeout)"/>
  </node>

  <node pkg="object_tracking"
        type="micro_g_dgm_intercept_planner.py"
        name="micro_g_dgm_intercept_planner"
        output="screen"
        required="true">
    <param name="plan_service" value="$(arg plan_service)"/>
    <param name="ik_service" value="$(arg ik_service)"/>
    <param name="group_name" value="$(arg group_name)"/>
    <param name="ee_link" value="$(arg ee_link)"/>
    <param name="world_frame" value="$(arg world_frame)"/>
    <param name="object_topic" value="$(arg object_topic)"/>
    <param name="service_wait_timeout" value="$(arg service_wait_timeout)"/>
  </node>
</launch>
